{erl_opts, [
    debug_info,
    warnings_as_errors,
    warn_shadow_vars,
    warn_unused_import,
    warn_unused_vars,
    {platform_define, "^R2", 'HAS_BEAM_ASM'}
]}.

{deps, [
]}.

{edoc_opts, [
    {app_default, "http://www.erlang.org/doc/man"},
    {doclet, edown_doclet},
    {image, ""},
    {includes, ["include"]},
    {preprocess, true},
    {stylesheet, ""},
    {title, "hakicache"}
]}.

{profiles, [
    {debug, [
        {erl_opts, [
            {d, 'DEBUG'}
        ]}
    ]},

    {edoc, [
        {deps, [
            {edown,
             {git, "https://github.com/uwiger/edown.git", {tag, "0.8.1"}}}
        ]}
    ]}
]}.